h1 {
    color: black;
    text-align: center;
}

h5 {
    color: #fff;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(158, 77, 77, 0.7)), url(../img//katie-moum-623907-unsplash.jpg);
}