/* Queries have to go from large to small */

/*For index.html*/

/* Go to 2 columns */
@media(max-width: 700px) {
    .categories-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Go to 1 column */
@media(max-width: 500px) {
    .categories-grid {
        grid-template-columns: 1fr;
    }
}



/*For economy.html*/

/*https://stackoverflow.com/a/16647547*/
/*https://stackoverflow.com/questions/16647380/max-width-vs-min-width*/



/*No greater than 650px, no less than 300px*/
@media only screen and (max-width: 650px) and (min-width: 300px) {
    .economy-overview-row {
        border: 2px solid red;
        flex-direction: column;

        /*Center everything in the flex item.  Justify-content or align-items won't work here because these two properties affect the flex items themselves, not the elements inside them*/
        text-align: center; 
    
    }

    .economy-overview-row img {
        border: 2px solid blue;
        width: 50%;
    }

    .btn {
        bottom: 10%;
        box-shadow: none;
    }
}
