
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Staatliches');


* {
	/* Get rid of initial stuff */
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Lato', sans-serif;
	background-color: #fff;
	color: #555;
	font-weight: 300;
	font-size: 20px;
}

/* ----------------------------------------------- */
/* NAVIGATION */
/* ----------------------------------------------- */

.main-nav {
	float: right;
	list-style: none;
}

.main-nav li {
	display: inline;
}

.main-nav li a:link, .main-nav li a:visited {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 90%;
}

.container {
	background: gray;
	padding: 40px;
}

/* ----------------------------------------------- */
/* MOBILE NAVIGATION */
/* ----------------------------------------------- */

/*

TO DO

*/

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/caleb-martin-405446-unsplash.jpg);
	background-attachment: fixed;
	height: 100vh;
}

header i {
	position: absolute;
	bottom: 0;
	/*Put in middle of header*/
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 450%;
}

/* ----------------------------------------------- */
/* HEADINGS */
/* ----------------------------------------------- */

h1, h2, h3 {
	font-weight: 300;
	text-transform: uppercase;
}

h1 {
	color: #fff;
}


h2 {
	font-size: 180%;
}

.hero-text-box {
	position: absolute;
	/*position in center of the header element*/
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ----------------------------------------------- */
/* SECTIONS */
/* ----------------------------------------------- */

.section-about {
	background-color: #EEEBD0;
	text-align: center;
	color: black;
	height: 50vh;
}
.section-about h2 {
	/*Visualize the box model*/
	/*border: 2px solid red;*/
	padding-top: 35px;
}

.section-about p {
	margin-top: 50px;
}

.section-categories {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	/*border: 2px solid #f76707; help visual box model */
}

.section-categories h2 {
	color: black;
	margin-bottom: 65px;
}

/* ----------------------------------------------- */
/* GRID */
/* ----------------------------------------------- */

.categories-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 75px;
	justify-content: center;
	/*Justify the grid items along the row axis */
	justify-items: center; 
	/* help in seeing the box model
	border: 2px solid #f76707;
	border-radius: 5px;
	background-color: #fff4e6;
	*/
}

/* ----------------------------------------------- */
/* GRID ITEMS */
/* ----------------------------------------------- */

.box {
	/*All of the absolutely positioned children of .box will be positioned relative to .box*/
	position: relative;
	color: #fff;
	width: 200px;
	height: 250px;
}

.box-text {
	/*Position relative to its first positioned ancestor element.  So .box needs a non-static position, or .box-test will position relative to .categories-grid because categories-grid would be its closest positioned ancestor element */
	position: absolute;
	bottom: 0;
	left: 50%;
	/*https://css-tricks.com/forums/topic/horizontal-centering-of-an-absolute-element/*/
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 9999;
	/*Make it go on top of the photo*/
	font-family: 'Oswald', sans-serif;
	font-size: 100%;
	/* 20px */
	text-transform: uppercase;
}

.box-1 svg, 
.box-2 svg, 
.box-3 svg, 
.box-4 svg, 
.box-5 svg, 
.box-5 svg, 
.box-6 svg {
	position: absolute;
	/*SVG is inline by default*/
	display: block;
	/*help to visualize box model
	border: 2px solid red;*/
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
	fill: #E5E5E5;
}

.box-1 img, 
.box-2 img,
.box-3 img,
.box-4 img,
.box-5 img, 
.box-6 img {
	width: 100%;
	height: 100%;
	/*Make the images a little dark so the svgs can be seen better*/
	filter: brightness(75%);
}

/* START - FADE IN EFFECT */

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade*/
.box-fade-in-overlay {
	display: block;
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	right:0;
	height: 100%;
	width: 100%;
	opacity: 0;	
	transition: .5s ease;
	/*background-color: #008CBA;*/
	/* Make sure that overlay is overtop of .box-text*/
	z-index: 10001;
	background: rgba( 0, 0, 0, 0.9 );
}

.box:hover .box-fade-in-overlay {
	opacity: 1;
}

.box .box-fade-in-overlay .text {
	color: white;
	position: absolute;
	/* Center text */
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

/* ----------------------------------------------- */
/* STUFF I WAS MESSING AROUND WITH, BUT DECIDED NOT TO USE */
/* ----------------------------------------------- */

/* END - FADE IN EFFECT */

/* ----------------------------------------------- */

/* Lighting Up Effect */

/*Makes the image darker when hovering, and the svg brighter*/
/*
.box-1:hover img{
	filter: brightness(35%);
}
.box-1:hover svg{
	fill: #fff;
}
*/
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* Left to Right Fill Effect */
/*
.box-overlay-left-to-right-transition {
	display: block;
	COMMENT: We want to start from the most left side of the div.  It will be positioned relative to '.box'
	position: absolute;
	left: 0;
	top: 0;
	COMMENT: Make sure that overlay is overtop of .box-text
	z-index: 10000;
	COMMENT: We don't want the text to be shown until hover
	opacity: 0;
	background: rgba( 0, 0, 0, 0.9 );
	background-color: #008CBA;
	width: 0px;
	height: 0px;
	transition: width 2s ease;
}
.box-2:hover .box-overlay-left-to-right-transition {
	width: 100%;
	height: 100%;
	opacity: 1;
}
.box-2 .box-overlay-left-to-right-transition .text {
	color: white;
	position: absolute;
	COMMENT: ------ BEGIN:Center text -------- 
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	COMMENT ------ END:Center text -------- 
}
/* ----------------------------------------------- */


/* ECONOMY PAGE */

.section-economy-overview {
	background-color: #AAB9CF;
}

.section-economy-overview h2 {
	text-align: center;
	margin-bottom: 2%;
}

/*https://stackoverflow.com/questions/20626685/better-way-to-set-distance-between-flexbox-items*/
.economy-overview-row {
	display: flex;
	/* margin: 0 -50px; */
	/*Comment out justify-content:space-between, change width to 33%, and uncomment the margins*/
	/* justify-content: space-between; */
	/*space-between, but add margins on the side*/
	justify-content: space-around; 
}

.overview-box {
	position: relative; /* button will be positioned relative to this container */
	/* border: 2px solid blue; */
	flex-basis: 30%;
	height: 450px;
	/*height: auto;*/
	/* margin: 0 50px; */
}

/*does this work?*/
.economy-overview-row:first-child {
	margin-left: 5%;

}

.agriculture-box-overview {
	/* background-color: black; */
}

.manufacturing-box-overview {
	/* background-color: red; */
}

.mining-box-overview {
	/* background-color: blue; */
}

.overview-box img {
	width: 100%;
	height: 250px;
}

.under-overview-box {
	font-family: 'Staatliches', cursive;
	color: red;
	text-align: center;
}


.txt {
	padding-left: 20px;
  }

.btn-container {
	/* border: 2px solid purple; */
	display: flex;
	justify-content: center;
}

.btn {
	display: block;
	bottom: 0;
	height:60px;
  line-height:60px;
  overflow:hidden;
  position: absolute;
  text-align:center;
  background-color:#16a756;
  color:white;
  border-radius:2px;
	transition:0.3s;
	
	margin-bottom: 10px;
	box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.btn:hover {background:#19c664;}

/* BUTTON UP */
.label-up {
	/* border: 2px solid pink; */
	display: block;
  margin:0px 30px;
  height:100%;
  position:relative;
  top:0%;
  transition:0.3s;
}

.btn:hover .label-up {
  top:-100%;
}


/*Isn't used anywhere*/
.btn2 {
	
	position: absolute;
	bottom: 0;

	background-color: #4CAF50; /* Green */
	border: none;
	color: black;;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
}


/*government.html*/

.header-intro-txt {
	margin-top: 3%;
	text-align: center;
}

.header-intro-txt::after {
    content: ' ';
    /* Whenever we do a psuedo after class, we need to specify its content */
    display: block;
    width: 100px;
    background-color: blue;
    /*border: 2px solid #d0d0d0;*/
    margin: 0 auto;
    margin-top: 30px;
    height: 2px;
    /*padding-bottom: 30px;*/
    margin-bottom: 30px;
}

.header-exp-txt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


	border: 2px solid red;
	display: block;
	width: 50%;

}

/* Symbols.html  */

.symbols-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*https://stackoverflow.com/questions/29546550/flexbox-4-items-per-row*/
/*https://stackoverflow.com/questions/48464444/how-to-display-3-items-per-row-in-flexbox*/

.symbol {

	/* border: 2px solid red;  */
	/*flex-grow, flex-shrink, flex-basis*/
	/* flex: 0 0 33%; */
	flex-basis: 30%;
}

/*Center the image*/
.image-container {
	display: flex;
	justify-content: center;
}

.symbol-title-text {
	/* border:2px solid blue; */
	display: block;
	text-align: center;
}

.symbol-name-text {
	font-size: 50%;
	text-align: center;
}

.symbol-name-text {

}

.symbols-row img {
	width: auto;
	height: 200px;
}

.bird,
.deer,
.fish {
	/* border: 2px solid blue; */
	margin-bottom: 10px;
}

.tree,
.plant,
.flag {
	margin-bottom: 10px;
}

/* FOOTER */




footer {
	background-color: #333;
	padding: 50px;
	font-size: 80%;
}