* { /* Get rid of initial stuff */
	margin: 0;
	padding: 0;
}

html,
body {
	/*Font-family: 'Lato*/

	
}


.container {
	background: gray;
	padding: 15px;
}

header {
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/caleb-martin-405446-unsplash.jpg); 
	background-attachment: fixed;
	height: 100vh;
}

h1, 
h2, 
h3 {
		font-weight: 300;
		text-transform: uppercase;
}

h1 {
	color: #fff;
}

h2 {
	font-size: 180%;
}

.hero-text-box {

}



/*
.main-nav {
	padding: 15px;
	background-color: red;
}
*/

.section-about {
	text-align: center;
	color: black;
/*	background-color: #212529;*/

}


.section-categories {
	text-align: center;
/*	background-color: red;*/
	/*background-color: white;*/
}

.section-categories h2 {
	color: black;
}

.categories-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /* can also be written as repeat(3, 1fr)*/ /*20px repeat(6, 1fr) 20px; - grid with 8 tracks.   grid-template-columns: repeat(5, 1fr 2fr);
	*my grid will consist of 10 tracks, a 1fr track, and then followed by a 2fr track. This pattern will be repeated five times */
	border: 2px solid #f76707;
	border-radius: 5px;
	grid-gap: 75px;
	
	background-color: #fff4e6;
}

.box {
	border: 2px solid #ffa94d;
	border-radius: 5px;
	background-color: #ffd8a8;
	/*padding: 1em;*/
	color: #d9480f;
	width: 200px;
	height: 250px;
}

.box-1 img{
	width: 100%;
	height: 100%;
	opacity: .3;
}

.box-2 img{

}

.box-3 img {

}

.box-4 img {

}

.box-5 img {

}

.box-6 img {

}


/*
.categories-grid {
	width: 300px;
	margin: 0 auto; /*center the grid*/
/*	border: 2px solid red;
	overflow: auto;
}

.categories-grid div {
	width: 98px;
	height: 48px;
	border: 1px solid black;
	float: left;
	margin-top: 15px;
	/*margin-right:20px;*/ /*moves divs down*/
/*}

*/
/*
.categories-grid div:nth-child(odd) {
	background-color: blue;
}
*/



